.container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Itim', cursive;
}

.container a {
    color: white;
    text-decoration: none;
}


.background {
    background-color: black;

}
/*th:class="${true} ? 'active'"*/
/*
.hat{
    background-color: black;
    color: white;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
}*/
