<div class = "elements-block"  th:fragment="elementsCart">

    <div class="my-block" >
        <p class="myFontStyle" style="font-size: 25px">Make an order</p>
    </div>
    <div class="row">

        <div class="col-md-12">
            <form class="d-flex" th:action="@{/all-products/sort}" method="post">

                <select class="form-control" style="margin-top: 10px; width: 85%; margin-left: 10px; font-family: 'Itim', cursive;color: black;text-decoration: none; font-size: 20px" name="sortType">Order by<i class="bi bi-caret-down-fill" style="color: black"></i>
                    <option>Order by</option>
                    <option>By brand name from a to z</option>
                    <option>By brand name from z to a</option>
                    <option>By price from low to high</option>wk
                    <option>By price from high to low</option>
                    <option>By popularity</option>
                </select>

                <button  class="btn btn-danger my-2 center form-control"  type="submit" style="font-family: 'Itim', cursive; margin-top: 20px; margin-left: 10px; width:50%">Sort</button>
            </form>
        </div>
    </div>
    <div class="row table-border " style="margin-top: 2%;">
        <div class="col-md-1">

        </div>
        <div class="col-md-1 rcenter" >
            <p style="font-family: 'Itim', cursive;color: black;text-decoration: none; font-size: 30px">Photo</p>
        </div>
        <div class="col-md-2 rcenter">
            <p style="font-family: 'Itim', cursive;color: black;text-decoration: none; font-size: 30px">Brand</p>
        </div>
        <div class="col-md-3 rcenter">
            <p style="font-family: 'Itim', cursive;color: black;text-decoration: none; font-size: 30px">Name</p>
        </div>
        <div class="col-md-2 rcenter">
            <p style="font-family: 'Itim', cursive;color: black;text-decoration: none; font-size: 30px">Size</p>
        </div>
        <div class="col-md-1 rcenter">
            <p style="font-family: 'Itim', cursive;color: black;text-decoration: none; font-size: 30px">Amount</p>
        </div>
        <div class="col-md-1 rcenter">
            <p style="font-family: 'Itim', cursive;color: black;text-decoration: none; font-size: 30px">Cost</p>
        </div>
        <div class="col-md-1 rcenter">
            <p style="font-family: 'Itim', cursive;color: black;text-decoration: none; font-size: 30px">Click to remove</p>
        </div>
    </div>
    <div class="row table-border " style="margin-top: 2%;" th:each="product : ${productList}">
        <div class="col-md-1">

        </div>
        <div class="col-md-1 rcenter" >
            <img class="img-thumbnail" sizes="(min-width: 768px) 302px, 600px" th:src="@{${product.photo}}"/>
        </div>
        <div class="col-md-2 rcenter">
            <p style="font-family: 'Itim', cursive;color: black;text-decoration: none; font-size: 30px" th:text="'Brand: ' + ${product.brand}"></p>
        </div>
        <div class="col-md-3 rcenter">
            <p style="font-family: 'Itim', cursive;color: black;text-decoration: none; font-size: 30px" th:text="'Name: ' + ${product.name}"></p>
        </div>
        <div class="col-md-2 rcenter">
            <p style="font-family: 'Itim', cursive;color: black;text-decoration: none; font-size: 30px">Size:</p>
        </div>
        <div class = "col-md-1 rcenter">
            <p style="font-family: 'Itim', cursive;color: black;text-decoration: none; font-size: 30px" th:text="${productsAmount.get(product.getProductId)}"></p>
        </div>
        <div class="col-md-1 rcenter">
            <p style="font-family: 'Itim', cursive;color: black;text-decoration: none; font-size: 30px" th:text="${product.cost*productsAmount.get(product.getProductId)}+' £'"></p>
            <!--<input type="hidden" name="productId-${product.id}" th:value="${product.productId}">
            <input type="hidden" name="productType-${product.id}" th:value="${product.productType}">
            <input type="number" name="amount-${product.id}"  min="1" max="${product.getAmount()}" defaultValue="1">-->
        </div>
        <div class="col-md-1 rcenter">
            <form class="d-flex " th:action="@{/user/cart/remove}" method="post">
                <input type="hidden" name="productId" th:value="${product.productId}">
                <input type="hidden" name="productType" th:value="${product.productType}">
                <button  class="btn btn-secondary form-control"  type="submit" style="font-family: 'Itim', cursive; margin-top: 5px; width: 100%" name="">Remove</button>
            </form>
        </div>
    </div>
    <div class="row" style="margin-top: 2%;">
        <div class="col-md-6 rcenter">
            <p style="font-family: 'Itim', cursive;color: black;text-decoration: none; font-size: 30px">Total price:</p>
        </div>
        <div class="col-md-6 rcenter">
            <p style="font-family: 'Itim', cursive;color: black;text-decoration: none; font-size: 30px" th:text="'Cost: ' + ${totalCost}+ ' '"></p>
        </div>
    </div>
    <form th:action="@{/user/cart/order}" method="post">
        <div class="row">

            <div class="col-md-6 rcenter">
                <p style="font-family: 'Itim', cursive;color: black;text-decoration: none; font-size: 30px">City</p>
                <select class="form-control" style="margin-top: 10px; width: 85%; margin-left: 10px; font-family: 'Itim', cursive;color: black;text-decoration: none; font-size: 20px" name="city"><i class="bi bi-caret-down-fill" style="color: black"></i>
                    <option>Select City</option>
                    <option>Kharkiv</option>
                    <option>Kyiv</option>
                    <option>City1</option>
                    <option>City2</option>
                    <option>City3</option>
                </select>
            </div>
            <div class="col-md-6 rcenter">
                <p style="font-family: 'Itim', cursive;color: black;text-decoration: none; font-size: 30px">Post</p>
                <select class="form-control" style="margin-top: 10px; width: 85%; margin-left: 10px; font-family: 'Itim', cursive;color: black;text-decoration: none; font-size: 20px" name="posht"><i class="bi bi-caret-down-fill" style="color: black"></i>
                    <option>Select Post</option>
                    <option>Nova Poshta №.21</option>
                    <option>Nova Poshta №.2</option>
                    <option>Nova Poshta №.3</option>
                    <option>Nova Poshta №.4</option>
                    <option>Nova Poshta №.5</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class = "col-md-6 rcenter" >
                <p style="font-family: 'Itim', cursive;color: black;text-decoration: none; font-size: 30px">Type of payment</p>
                <select class="form-control" style="margin-top: 10px; width: 85%; margin-left: 10px; font-family: 'Itim', cursive;color: black;text-decoration: none; font-size: 20px" name="payment"><i class="bi bi-caret-down-fill" style="color: black"></i>
                    <option>Select Payment</option>
                    <option>By card</option>
                    <option>In cash</option>
                    <option>PayPal</option>
                </select>

            </div>
            <div class = "col-md-6 rcenter">
                <p style="font-family: 'Itim', cursive;color: black;text-decoration: none; font-size: 30px">Recipient (optional)</p>
                <input style="margin-top: 10px; width: 85%; margin-left: 10px; font-family: 'Itim', cursive;color: black;text-decoration: none; font-size: 20px" class="form-control"  type="text"  name="recipient">
            </div>
        </div>
        <div class="row rcenter" style="margin-top: 3%; margin-bottom: 3%">
            <button class="btn btn-success" type="submit" style="font-family: 'Itim', cursive; color: black; margin-top:5%; width: 50%;">Order</button>
        </div>
    </form>
</div>