
<div class="myfooter row">
    <div class = "myfont col-xs-3">
        <p class = "myfontNames">Social Networks</p>
        <a href="https://www.instagram.com/">Instagram: @nvclothes</a>
        <a href="https://web.telegram.org/z/">Telegram: @nvclothes</a>
        <a href="https://uk-ua.facebook.com/">Facebook: @nvclothes</a>
        <a href="https://twitter.com/?lang=ru">Twitter: @nvclothes</a>
    </div>
    <div class = "myfont col-xs-3" >
        <p class = "myfontNames">Address</p>
        <a href="">St. Khreschatyk, 22</a>
        <a>Kyiv, 01001, Ukraine</a>
        <a>MON - FRI: 11:00 - 22:00</a>
        <a>Twitter: @nvclothes</a>
    </div>
    <div class = "myfont col-xs-3">
        <p class = "myfontNames">Rules</p>
        <a href="">Delivery and returns</a>
        <a>Shop rules</a>
        <a>Payment methods</a>
        <a>FAQ</a>
        <a>Cookies policy</a>
    </div>
    <div class = "myfont col-xs-3">
        <p class = "myfontNames">Customer support</p>
        <p>Tel: +333333333333</p>
        <p>Email: java@gmail.com</p>
    </div>
</div>