<footer th:fragment="footer" class="myfooter col-md-12">
    <div class="row myFontStyle" >
        <div class = "col-md-3">
            <p class="topic">Social Networks</p>

            <a href="https://www.instagram.com/" style="color: white;text-decoration: none;">Instagram: @nvclothes</a>
            <br>
            <a href="https://web.telegram.org/z/" style="color: white;text-decoration: none;">Telegram: @nvclothes</a>
            <br>
            <a href="https://uk-ua.facebook.com/" style="color: white;text-decoration: none;">Facebook: @nvclothes</a>
            <br>
            <a href="https://twitter.com/?lang=ru" style="color: white;text-decoration: none;">Twitter: @nvclothes</a>
        </div>
        <div class = "col-md-3 myFontStyle" >
            <p class="topic">Address</p>

            <a href="" style="color: white;text-decoration: none;">St. Khreschatyk, 22</a>
            <br>
            <a style="color: white;text-decoration: none;">Kyiv, 01001, Ukraine</a>
            <br style="color: white;text-decoration: none;">
            <a style="color: white;text-decoration: none;">MON - FRI: 11:00 - 22:00</a>
            <br style="color: white;text-decoration: none;">
            <a style="color: white;text-decoration: none;">Twitter: @nvclothes</a>
        </div>
        <div class = "col-md-3 myFontStyle">
            <p class="topic">Rules</p>

            <a href="" style="color: white;text-decoration: none;">Delivery and returns</a>
            <br>
            <a style="color: white;text-decoration: none;">Shop rules</a>
            <br>
            <a style="color: white;text-decoration: none;">Payment methods</a>
            <br>
            <a style="color: white;text-decoration: none;">FAQ</a>
            <br>
            <a style="color: white;text-decoration: none;">Cookies policy</a>
        </div>
        <div class = "col-md-3 myFontStyle">
            <p class="topic">Customer support</p>

            <p>Tel: +333333333333</p>
            <br>
            <p>Email: java@gmail.com</p>
        </div>
    </div>
</footer>