<header th:fragment="header" style="width: 100%">
  <div class="my-block col-md-12"  style="width: 100%;margin: 0px 0px;padding: 0px 0px;">
    <a href="#" >Welcome</a>
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >

    <div class="container-fluid">
      <a class="navbar-brand" href="#"  style="color: white;text-decoration: none;">NV Clothes</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="/all-products"  >All products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/t-shirts"  >T-Shirts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/trousers"  >Trousers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/hoodies"  >Hoodies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/accessories"  >Accessories</a>
          </li>
        </ul>
        <form class="d-flex" th:action="@{/all-products/search}" method="post">
          <input class="form-control me-sm-2" style="font-family: 'Itim', cursive;" type="text" placeholder="Search" name="search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit" style="font-family: 'Itim', cursive;">Search</button>
        </form>

        <div class="d-flex">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" href="#cart"><i class="bi bi-basket"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">
                <i class="bi bi-person-square"></i>
                Log in
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/registration">
                <i class="bi bi-plus-square"></i>
                Register
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>