<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
<h1>Hello, this is the main page!!!</h1>
<ul class="navbar-nav me-auto">
  <li class="nav-item" >
    <a class="nav-link " href="/greeting"  >Go to greeting</a>
  </li>
  <li class="nav-item" >
    <a class="nav-link " href="/t-shirts"  >T-Shirts</a>
  </li>
  <li class="nav-item" >
    <a class="nav-link " href="/trousers"  >Trousers</a>
  </li>
  <li class="nav-item " >
    <a class="nav-link" href="/trainers"  >Trainers</a>
  </li>
  <li class="nav-item " >
    <a class="nav-link" href="/hoodies"  >Hoodies</a>
  </li>
  <li class="nav-item ">
    <a class="nav-link" href="/accessories"  >Accessories</a>
  </li>
</ul>

</body>
</html>