<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trousers</title>

    <link rel="stylesheet" href="/css/welcome.css">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/positionAndStylesOfBlocks.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrapMint2.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <script>
        function addToCart(productId) {
            // Get token from localStorage
            var token = localStorage.getItem("token");

            // Make request to server with token in headers
            fetch('/api/cart', {
                method: 'POST',
                headers: {
                    'Authorization': 'Bearer ' + token,
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({productId: productId})
            })
                .then(response => response.json())
                .then(data => console.log(data))
                .catch(error => console.error(error));
        }
    </script>
</head>
<body>

<div th:replace="header :: header"></div>
<div th:replace="photoTrousers::photoTrousers"></div>
<div th:replace="elementsTrousers::elementsTrousers"></div>
<div th:replace="footer::footer"></div>
</body>
</html>